body{
    margin: 0px;
    padding: 0px;
    /*background-image: url(../protofolio/back.png);*/
}

hr.one{
    background-color: black;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 6px;
    margin-bottom: 0%;
}
p.para{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 190px;
    
    
}
div.image{
    background-image: url("blur.png");
  height: 300px;
  border-top-style: solid;

}

p.ftr1{
    text-align: left;
    color: rgba(255, 255, 255, 0.288);
   
    text-align: center;
    
}
#footer{
    background-color: black;
    height: 90px;
}
.hr1{
    background-color: gray;
    width: 600px;
    text-align: center;
}

hr.two{
width: 100%;
margin-bottom:0%;
padding: 0%;


}
a{
    float: right;
    text-decoration: none;
    margin-right: 100px;
    font-size: 12px;
    margin-bottom: 20px;
    font-style: bold;
}
img{
    width: 900px;
    height: 260px;
    
}
ul li a{
    text-decoration: none;
}
.Center{
  margin-left: 300px;
float: left;
}
.mf{
border-radius: 50%;
    width: 10%;
    height: 200px;
}